<%- include('partials/header') %>
  <%- include('partials/aside-nav') %>
    <main class="main-wrap">
      <%- include('partials/admin-header') %>
        <section class="content-main">
          <div class="content-header">
            <div>
              <h2 class="content-title card-title">Brand </h2>
              <p>Brand management</p>
            </div>
            <div>
              <a href="/admin/add-brands" class="btn btn-primary"><i
                  class="text-muted material-icons md-post_add"></i>Add New Brand</a>
            </div>
          </div>
          <div class="card mb-4">
            <header class="card-header">
              <div class="row gx-3">
                <div class="col-lg-4 mb-lg-0 mb-15 me-auto">
                  <form action="/admin/search-brands" method="get">
                    <input type="text" name="q" placeholder="Search..." class="form-control">
                  </form>
                </div>
              </div>
            </header>
            <div class="card-body">
              <% brands.forEach(brand=> { %>
                <article class="itemlist">
                  <div class="row align-items-center">
                    <div class="col col-check flex-grow-0">
                    </div>
                    <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                      <a class="itemside" href="#">
                        <div class="info">
                          <h6 class="mb-0 capitalize">
                            <%= brand.name %>
                          </h6>
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-price">
                      <span style="word-spacing: 2px;">
                        <%= brand.productCount %>
                          <%= (brand.productCount===1) ? 'Item' : 'Items' %>
                      </span>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-status">
                    </div>
                    <div class="col-lg-1 col-sm-2 col-4 col-date">
                      <% let date=new Date(brand.createdAt); let day=("0" + date.getDate()).slice(-2); let month=("0" +
                        (date.getMonth() + 1)).slice(-2); let year=date.getFullYear(); %>
                        <span>
                          <%= `${day}.${month}.${year}` %>
                        </span>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                      <a href="/admin/edit-brand/<%= brand._id %>" class="btn btn-sm font-sm rounded btn-brand">
                        <i class="material-icons md-edit"></i> Edit
                      </a>
                    </div>
                  </div>
                </article>
                <% }) %>
            </div>
          </div>
          <!--pagination-->
          <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-start">
                <% for (let i=1; i <=pages; i++) { %>
                  <li class="page-item <%= current == i ? 'active' : '' %>"><a class="page-link"
                      href="/admin/view-brands?page=<%= i %>">
                      <%= i %>
                    </a></li>
                  <% } %>
                    <% if(current < pages) { %>
                      <li class="page-item"><a class="page-link" href="/admin/view-brands?page=<%= current + 1 %>"><i
                            class="fi-rs-angle-double-small-right"></i></a></li>
                      <% } %>
              </ul>
            </nav>
          </div>
        </section>
    </main>
    </body>

    </html>