<%- include ('../partials/single-order-header') %>

  <body>
    <div class="container mt-5">
      <div class="order-header">
        <div>
          <h4>Order ID: #<%= order.shortId %>
          </h4>
          <p>Order date: <%= new Date(order.createdAt).toLocaleDateString() %>
          </p>
        </div>
        <div>
          <div class="mb-2 d-flex justify-content-end">
            <a href="/admin/edit-order/<%= order._id %>" class="btn"
              style="background: #383e50; color: #ffff; font-size: 15px;">Edit Order</a>
          </div>
          <% if(order.status==="Returned" ) { %>
            <p style="color: #E23D28; margin-left: 5px;">Order Returned At <%= new
                Date(order.returnDate).toLocaleDateString() %>
            </p>
            <% } else if(order.status==="Cancelled" ) { %>
              <p style="color: #E23D28; margin-left: 5px;">Order Cancelled At <%= new
                  Date(order.cancelledDate).toLocaleDateString() %>
              </p>
              <% } else if (order.status !=="Delivered" ) { %>
                <p>Estimated delivery:
                  <span style="color: #00563B; margin-left: 5px;">
                    <%= order.deliveryDate.toLocaleString('en-US', { year: 'numeric' , month: 'long' , day: 'numeric' })
                      %>
                  </span>
                </p>
                <% } else { %>
                  <p>Delivered date:
                    <span style="color: #00563B; margin-left: 5px;">
                      <%= order.deliveryDate.toLocaleString('en-US', { year: 'numeric' , month: 'long' , day: 'numeric'
                        }) %>
                    </span>
                  </p>
                  <% } %>
        </div>
      </div>

      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th>Product</th>
            <th>Details</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <% order.products.forEach(product=> { %>
            <tr>
              <td>
                <img src="<%= product.mainImg %>" alt="Shoe Image" class="product-image">
                <%= product.name.length> 50 ? product.name.substring(0, 50) + "..." : product.name %>

              </td>
              <td>
                Size : <%= product.size %> | Brand : <%= product.brand %>
              </td>
              <td>
                ₹<%= product.price %>
              </td>
              <td>
                <%= product.quantity %>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>


      <div class="row mt-5">
        <div class="col-md-4">
          <h5>Details</h5>
          <p>Payment : <%= order.paymentMethod %>
          </p>
          <p>Shipped : <%= (order.status==='Shipped' || order.status==='Delivered' ) ? 'Yes' : 'No' %>
          </p>
          <p>Delivered : <%= order.status==='Delivered' ? 'Yes' : 'No' %>
          </p>

          </p>
          <p>Status : <%= order.status %>
          </p>
          <p>ShippedDate :
            <% if (order.shippedDate) { %>
              <%= order.shippedDate.toLocaleString('en-US', { year: 'numeric' , month: 'long' , day: 'numeric' }) %>
                <% } else if (["shipped", "delivered" ].includes(order.status)) { %>
                  Invalid Date
                  <% } else { %>
                    Not Shipped
                    <% } %>
          </p>
          <p>Total Amount Paid : <span style="color: #00563B;">₹<%= order.totalAmountPaid %></span></p>
        </div>
        <div class="col-md-4">
          <h5>Shipping Address:</h5>
          <p>
            <%= order.address.name %><br>
              <%= order.address.address %>, <%= order.address.addressLine1 ? order.address.addressLine1 + ',' : '' %>
                  <br>
                  <%= order.address.city %>, <%= order.address.state %><br>
                      <%= order.address.postalCode %>
          </p>
        </div>
        <div class="col-md-4 text-end">
          <h5>Order Summary:</h5>
          <p>Subtotal: ₹<%= order.totalAmount %>
          </p>
          <p>Shipping: Free</p>
          <hr>
          <p>Total: ₹<%= order.totalAmount %>
          </p>
          <% if( order.totalAmount !=order.totalAfterDiscount ) { %>
            <p>Total After Discount: <span style="color: #00563B;">₹<%= order.totalAfterDiscount %></span></p>
            <% } %>
              <p>Amount Yet To Be Paid : <span style="color: #00563B;">₹<%= order.totalAfterDiscount -
                    order.totalAmountPaid %></span></p>
        </div>
      </div>

      <div class="d-flex justify-content-end mt-5">
        <a href="/admin/view-orders" class="btn"
          style="margin-right: 10px; background-color: #383e50; color: #fff; font-size: 15px;">Go
          Back</a>
      </div>
    </div>
  </body>

  </html>