<%- include('partials/header') %>
    <%- include('partials/aside-nav') %>
        <main class="main-wrap">
            <%- include('partials/admin-header') %>
                <section class="content-main">
                    <div class="content-header">
                        <div>
                            <h2 class="content-title card-title admin-dashboard-heading">Dashboard </h2>
                            <p>Whole data about your business here</p>
                        </div>
                        <div>
                            <a href="javascript:void(0)" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#datePickerModal">
                                <i class="text-muted material-icons md-post_add"></i>Create report
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="card card-body mb-4">
                                <article class="icontext">
                                    <span class="icon icon-sm rounded-circle bg-primary-light"><i
                                            class="text-primary material-icons md-monetization_on"></i></span>
                                    <div class="text">
                                        <h6 class="mb-1 card-title">Revenue</h6>
                                        <span>₹<%= totalRevenue.toFixed(2) %></span>
                                        <span class="text-sm">
                                            Total money paid from the users
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card card-body mb-4">
                                <article class="icontext">
                                    <span class="icon icon-sm rounded-circle bg-success-light"><i
                                            class="text-success material-icons md-local_shipping"></i></span>
                                    <div class="text">
                                        <h6 class="mb-1 card-title">Orders</h6> <span>
                                            <%= orderCount %>
                                        </span>
                                        <span class="text-sm">
                                            Including transit and cancelled orders
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card card-body mb-4">
                                <article class="icontext">
                                    <span class="icon icon-sm rounded-circle bg-warning-light"><i
                                            class="text-warning material-icons md-qr_code"></i></span>
                                    <div class="text">
                                        <h6 class="mb-1 card-title">Products</h6> <span>
                                            <%= productCount %>
                                        </span>
                                        <span class="text-sm">
                                            In <%= categoryCount %> Categories
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="card card-body mb-4">
                                <article class="icontext">
                                    <span class="icon icon-sm rounded-circle bg-info-light"><i
                                            class="text-info material-icons md-people"></i></span>
                                    <div class="text">
                                        <h6 class="mb-1 card-title">Users</h6> <span>
                                            <%= userCount %>
                                        </span>
                                        <span class="text-sm">
                                            All verified users across worldwide
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card mb-4">
                                <article class="card-body">
                                    <h5 class="card-title text-center">Sale Statistics</h5>
                                    <div class="dropdown ml-20">
                                        <button class="btn btn-primary dropdown-toggle" type="button"
                                            id="filterDropdownButton" data-bs-toggle="dropdown" aria-expanded="false">
                                            Choose Filter
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="filterDropdownButton">
                                            <li><a class="dropdown-item" href="javascript:void(0)"
                                                    data-value="allTime">All Time</a></li>

                                            <li>
                                                <a class="dropdown-item dropdown-toggle"
                                                    href="javascript:void(0)">Yearly <span class="ml-10"
                                                        style="font-size: 19px; margin-top: -2px;">&raquo;</span></a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    <% for(let i=startYear; i <=currentYear; i++) { %>
                                                        <li><a class="dropdown-item" href="javascript:void(0)"
                                                                data-value="year_<%= i %>">
                                                                <%= i %>
                                                            </a></li>
                                                        <% } %>
                                                </ul>
                                            </li>

                                            <li>
                                                <a class="dropdown-item dropdown-toggle"
                                                    href="javascript:void(0)">Monthly <span class="ml-10"
                                                        style="font-size: 19px; margin-top: -2px;">&raquo;</span></a>
                                                <ul class="dropdown-menu dropdown-submenu">
                                                    <% const months=['January', 'February' , 'March' , 'April' , 'May'
                                                        , 'June' , 'July' , 'August' , 'September' , 'October'
                                                        , 'November' , 'December' ]; %>
                                                        <% months.forEach((month, index)=> { %>
                                                            <li><a class="dropdown-item" href="javascript:void(0)"
                                                                    data-value="month_<%= index %>">
                                                                    <%= month %>
                                                                </a></li>
                                                            <% }); %>
                                                </ul>
                                            </li>

                                            <li><a class="dropdown-item" href="javascript:void(0)"
                                                    data-value="paymentMethod">Payment
                                                    Method</a></li>
                                            <li><a class="dropdown-item" href="javascript:void(0)"
                                                    data-value="category">Category</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="chart-container">
                                        <canvas id="myChart" style="width:100%;max-width:900px"></canvas>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <header class="card-header">
                            <h4 class="card-title mt-2 ml-2">Top Sold Products</h4>
                        </header>
                        <div
                            class="card-body dashboard-products-card-container d-flex flex-wrap justify-content-center mt-30">
                            <% products.forEach((product, index)=> { %>
                                <div class="col-xl-3 col-lg-4 col-md-6 mb-30">
                                    <div class="card card-product-grid dashboard-product-card position-relative">
                                        <a href="javascript:void(0)"><button
                                                class="add-stock-btn btn btn-sm btn-primary position-absolute top-0 end-0 fw-bold">
                                                <%= index + 1 %>
                                            </button></a>
                                        <a href="javascript:void(0)" class="img-wrap">
                                            <img src="<%= product.mainImage %>" alt="Product">
                                        </a>
                                        <div class="info-wrap">
                                            <a href="/admin/edit-product/<%= product._id %>" class="title capitalize">
                                                <%= product.name.length> 70 ? product.name.slice(0, 70) + '...' :
                                                    product.name %>
                                            </a>
                                            <div class="price mt-1">₹<%= product.price %>
                                            </div>
                                            <% if (product.category) { %>
                                                <div class="category">Category: <span class="text-brand capitalize">
                                                        <%= product.category.name %>
                                                    </span>
                                                </div>
                                                <% } %>
                                                    <% if (product.brand) { %>
                                                        <div class="brand mt-1 mb-2">Brand: <span
                                                                class="text-brand capitalize">
                                                                <%= product.brand.name %>
                                                            </span>
                                                        </div>
                                                        <% } %>
                                                            <div class="brand mt-1 mb-2">Sales Count: <span
                                                                    class="text-brand capitalize">
                                                                    <%= product.totalSoldItems %>
                                                                </span>
                                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                    </div>

                </section>
        </main>
        <!-- Modal -->
        <div class="modal fade" id="datePickerModal" tabindex="-1" aria-labelledby="datePickerModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="datePickerModalLabel">Select Date Range</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/admin/sales/report" method="post">
                        <div class="modal-body">
                            <div class="mb-3">
                                <label for="startDate" class="form-label">Start Date</label>
                                <input type="date" class="form-control" id="startDate" name="startDate">
                            </div>
                            <div class="mb-3">
                                <label for="endDate" class="form-label">End Date</label>
                                <input type="date" class="form-control" id="endDate" name="endDate">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            let yearData = JSON.parse('<%- JSON.stringify(yearData) %>');
            let monthData = JSON.parse('<%- JSON.stringify(monthData) %>');
            let categoryData = JSON.parse('<%- JSON.stringify(categoryData) %>');
            console.log(categoryData);
            let orderStatuses = JSON.parse('<%- JSON.stringify(orderStatuses) %>');
            let orderStatusCounts = JSON.parse('<%- JSON.stringify(orderStatusCounts) %>');
            let paymentMethodCounts = JSON.parse('<%- JSON.stringify(paymentMethodCounts) %>');
        </script>

        </body>

        </html>