<%- include('partials/header') %>
  <%- include('partials/aside-nav') %>
    <main class="main-wrap">
      <%- include('partials/admin-header') %>
        <section class="content-main">
          <div class="content-header">
            <div>
              <h2 class="content-title card-title">Order List </h2>
              <p>Manage whole orders here.</p>
            </div>
            <div>
              <form action="/admin/order/search-orders" method="GET">
                <input type="text" placeholder="Search order ID" class="form-control bg-white" name="searchQuery">
              </form>
            </div>
          </div>
          <div class="card mb-4">
            <header class="card-header">
              <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                  <form action="/admin/order/search-order-email" method="GET">
                    <input type="text" placeholder="Search Email..." class="form-control" name="emailQuery">
                  </form>
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                  <select class="form-select">
                    <option>Status</option>
                    <option>Active</option>
                    <option>Disabled</option>
                    <option>Show all</option>
                  </select>
                </div>
              </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Total</th>
                      <th scope="col">Status</th>
                      <th scope="col">Date</th>
                      <th scope="col" class="text-end"> Action </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% orders.forEach(order=> { %>
                      <tr>
                        <td>
                          #<%= order.shortId %>
                        </td>
                        <td><b>
                            <%= order.address.name %>
                          </b></td>
                        <td>
                          <%= order.address.email %>
                        </td>
                        <td>₹<%= order.totalAfterDiscount %>
                        </td>
                        <td>
                          <% if (order.status==='Delivered' ) { %>
                            <span class="badge rounded-pill alert-success">&nbsp;Delivered&nbsp;</span>
                            <% } else if (order.status==='Shipped' ) { %>
                              <span class="badge rounded-pill alert-warning">&nbsp;&nbsp;Shipped&nbsp;&nbsp;</span>
                              <% } else if (order.status==='Cancelled' ) { %>
                                <span class="badge rounded-pill alert-danger">Cancelled</span>
                                <% } else if (order.status==='Returned' ) { %>
                                  <span class="badge rounded-pill alert-info">&nbsp;Returned&nbsp;</span>
                                  <% } else { %>
                                    <span class="badge rounded-pill alert-light-blue">Processing</span>
                                    <% } %>
                        </td>
                        <td>
                          <%= order.createdAt.toISOString().split('T')[0] %>
                        </td>
                        <td class="text-end">
                          <div class="dropdown">
                            <a href="/admin/order/view-single-order/<%= order._id %>"
                              class="btn btn-md rounded font-sm">Detail</a>
                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm">
                              <i class="material-icons md-more_horiz"></i>
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="/admin/order/view-single-order/<%= order._id %>">View detail</a>
                              <a class="dropdown-item" href="/admin/order/edit-order/<%= order._id %>">Edit info</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>
              </div> <!-- table-responsive //end -->
            </div> <!-- card-body end// -->
          </div>
          <!--pagination-->
          <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-start">
                <% for (let i=1; i <=pages; i++) { %>
                  <li class="page-item <%= current == i ? 'active' : '' %>"><a class="page-link"
                      href="/admin/order/view-orders?page=<%= i %>">
                      <%= i %>
                    </a></li>
                  <% } %>
                    <% if(current < pages) { %>
                      <li class="page-item"><a class="page-link"
                          href="/admin/order/view-orders?page=<%= current + 1 %>"><i
                            class="fi-rs-angle-double-small-right"></i></a></li>
                      <% } %>
              </ul>
            </nav>
          </div> <!-- card end// -->
        </section>
    </main>
    </body>

    </html>