<%- include('header') %>
  <%- include('aside-nav') %>
    <main class="main-wrap">
      <%- include('admin-header') %>
        <section class="content-main">
          <form class="admin-edit-order-form" action="/admin/edit-order/<%= order._id %>" method="POST">
            <input type="hidden" name="_id" value="<%= order._id %>">
            <div class="row">
              <div class="col-9">
                <div class="content-header">
                  <h2 class="content-title">Edit New Order</h2>
                  <div>
                    <button type="submit" class="btn btn-md rounded font-sm hover-up">Edit</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="mb-4">
                      <label for="order_name" class="form-label">User Name: </label>
                      <input type="text" placeholder="Type here" class="form-control" id="order_name"
                        value="<%= order.address.name %>" name="order_name">
                      <span class="error-span"></span>
                    </div>
                    <div class="mb-4">
                      <label for="order_email" class="form-label">User Email: </label>
                      <input type="text" placeholder="Type here" class="form-control" id="order_email"
                        value="<%= order.address.email %>" name="order_email">
                      <span class="error-span"></span>
                    </div>
                    <div class="mb-4">
                      <label for="shipped_date" class="form-label">Shipped Date: </label>
                      <input type="date" class="form-control" id="shipped_date"
                        value="<%= order.shippedDate ? formatDate(order.shippedDate) : '' %>" name="shipped_date">
                      <span class="error-span"></span>
                    </div>
                    <div class="mb-4">
                      <label for="delivery_date" class="form-label">Delivery Date: </label>
                      <input type="date" class="form-control" id="delivery_date"
                        value="<%= order.deliveryDate ? formatDate(order.deliveryDate) : '' %>" name="delivery_date">

                      <span class="error-span"></span>
                    </div>
                    <div class="mb-4">
                      <label for="status" class="form-label">Status: </label>
                      <select name="status" id="status" class="form-control">
                        <option value="Processing" <% if(order.status==='Processing' ) { %> selected <% } %>>Processing
                        </option>
                        <option value="Shipped" <% if(order.status==='Shipped' ) { %> selected <% } %>>Shipped</option>
                        <option value="Cancelled" <% if(order.status==='Cancelled' ) { %> selected <% } %>>Cancelled
                        </option>
                        <option value="Delivered" <% if(order.status==='Delivered' ) { %> selected <% } %>>Delivered
                        </option>
                      </select>
                      <span class="error-span"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </section>
    </main>
    <%- include('footer') %>