<%- include('header') %>
  <%- include('aside-nav') %>
    <main class="main-wrap">
      <%- include('admin-header') %>
        <section class="content-main">
          <form class="product-form" action="/admin/add-product" method="POST" enctype="multipart/form-data">
            <div class="row">
              <div class="col-9">
                <div class="content-header">
                  <h2 class="content-title">Add New Product</h2>
                  <div>
                    <button type="submit" class="btn btn-md rounded font-sm hover-up">Publish</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="mb-4">
                      <label for="product_name" class="form-label">Product title</label>
                      <input type="text" placeholder="Type here" class="form-control" id="product_name"
                        name="product_name">
                    </div>
                    <div class="row gx-3">
                      <div class="col-md-6  mb-3">
                        <label for="product_color" class="form-label">Color</label>
                        <input type="text" placeholder="Type here" class="form-control" id="product_color"
                          name="product_color">
                      </div>
                      <div class="col-md-6 mb-3">
                        <label class="form-label d-block">Sizes</label>
                        <div class="d-inline-block me-2">
                          <input type="checkbox" class="form-check-input" name="product_sizes" value="6">
                          <label class="form-check-label">6</label>
                        </div>
                        <div class="d-inline-block me-2">
                          <input type="checkbox" class="form-check-input" name="product_sizes" value="7">
                          <label class="form-check-label">7</label>
                        </div>
                        <div class="d-inline-block me-2">
                          <input type="checkbox" class="form-check-input" name="product_sizes" value="8">
                          <label class="form-check-label">8</label>
                        </div>
                        <div class="d-inline-block">
                          <input type="checkbox" class="form-check-input" name="product_sizes" value="9">
                          <label class="form-check-label">9</label>
                        </div>
                      </div>

                    </div>
                    <div class="mb-4">
                      <label for="product_brand" class="form-label">Brand</label>
                      <select class="form-control custom-select" id="product_brand" name="product_brand">
                        <% brands.forEach(brand=> { %>
                          <option value="<%= brand._id %>">
                            <%= brand.name %>
                          </option>
                          <% }); %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <label class="form-label">Main Image</label>
                  <input class="form-control" type="file" name="mainImage">
                </div>
                <div class="card mb-4">
                  <div class="card-body">
                    <div>
                      <label class="form-label">Description</label>
                      <textarea placeholder="Type here" class="form-control" rows="4" name="description"></textarea>
                    </div>
                  </div>
                </div>
                <div class="card mb-4">
                  <div class="card-body">
                    <div>
                      <label class="form-label">Images</label>
                      <input class="form-control" type="file" name="image" multiple>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="mb-4">
                      <label class="form-label">Price</label>
                      <input type="number" placeholder="Type here" class="form-control" name="price">
                    </div>
                    <div class="mb-4">
                      <label class="form-label">Stock</label>
                      <input type="number" placeholder="Type here" class="form-control" name="stock">
                    </div>
                    <div class="mb-4">
                      <label class="form-label">Estimated Profit</label>
                      <input type="number" placeholder="Type here" class="form-control" name="estProfit">
                    </div>
                    <hr>
                    <h5 class="mb-3">Categories</h5>
                    <% category.forEach(category=> { %>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="product_category" value="<%= category._id %>"
                          id="product-cat-<%= category._id %>">
                        <label class="form-check-label" for="product-cat-<%= category._id %>">
                          <%= category.name %>
                        </label>
                      </div>
                      <% }); %>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </section>
    </main>
    <%- include('footer') %>