<%- include('header') %>
  <%- include('aside-nav') %>
    <main class="main-wrap">
      <%- include('admin-header') %>
        <section class="content-main">
          <div class="content-header">
            <div>
              <h2 class="content-title card-title">Users List</h2>
              <p>List of all users.</p>
            </div>
          </div>
          <div class="card mb-4">
            <header class="card-header">
              <div class="row gx-3">
                <div class="col-lg-4 mb-lg-0 mb-15 me-auto">
                  <form action="/admin/search-users" method="get">
                    <input type="text" name="q" placeholder="Search..." class="form-control">
                  </form>
                </div>
              </div>
            </header>
            <div class="card-body">
              <% users.forEach(user=> { %>
                <article class="itemlist">
                  <div class="row align-items-center">
                    <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                      <a class="itemside" href="#">
                        <div class="left">
                          <img src="/static/images/user-default-icon.jpg" class="img-sm img-thumbnail" alt="User">
                        </div>
                        <div class="info">
                          <h6 class="mb-0">
                            <%= user.name %>
                          </h6>
                        </div>
                      </a>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-8 col-email user-email">
                      <span>
                        <%= user.email %>
                      </span>
                    </div>
                    <div class="col-lg-1 col-sm-2 col-4 col-date">
                      <span>
                        <% let date=new Date(user.createdAt); let day=("0" + date.getDate()).slice(-2); let month=("0" +
                          (date.getMonth() + 1)).slice(-2); let year=date.getFullYear(); %>
                          <%= `${day}.${month}.${year}` %>
                      </span>
                    </div>
                    <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                      <% if(user.isBlocked) { %>
                        <a href="/admin/unblock-user/<%= user.id %>" class="btn btn-sm font-sm btn-light rounded">
                          <i class="material-icons md-block"></i> Unblock
                        </a>
                        <% } else { %>
                          <a href="/admin/block-user/<%= user.id %>" class="btn btn-sm font-sm rounded btn-brand">
                            <i class="material-icons md-block"></i> Block
                          </a>
                          <% } %>
                    </div>
                  </div>
                </article>
                <% }) %>
            </div>
          </div>
        </section>
    </main>
    <%- include('footer') %>