<%- include('header') %>
  <%- include('aside-nav') %>
    <main class="main-wrap">
      <%- include('admin-header') %>
        <section class="content-main">
          <div class="content-header">
            <div>
              <h2 class="content-title card-title">Order List </h2>
              <p>Manage whole orders here.</p>
            </div>
            <div>
              <input type="text" placeholder="Search order ID" class="form-control bg-white">
            </div>
          </div>
          <div class="card mb-4">
            <header class="card-header">
              <div class="row gx-3">
                <div class="col-lg-4 col-md-6 me-auto">
                  <input type="text" placeholder="Search..." class="form-control">
                </div>
                <div class="col-lg-2 col-6 col-md-3">
                  <select class="form-select">
                    <option>Status</option>
                    <option>Active</option>
                    <option>Disabled</option>
                    <option>Show all</option>
                  </select>
                </div>
              </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#ID</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Total</th>
                      <th scope="col">Status</th>
                      <th scope="col">Date</th>
                      <th scope="col" class="text-end"> Action </th>
                    </tr>
                  </thead>
                  <tbody>
                    <% orders.forEach(order=> { %>
                      <tr>
                        <td>
                          <%= order._id %>
                        </td>
                        <td><b>
                            <%= order.address.name %>
                          </b></td>
                        <td>
                          <%= order.address.email %>
                        </td>
                        <td>₹<%= order.totalAmount.toFixed(2) %>
                        </td>
                        <td>
                          <% if (order.isDelivered) { %>
                            <span class="badge rounded-pill alert-success">Delivered</span>
                            <% } else if (order.isShipped) { %>
                              <span class="badge rounded-pill alert-warning">Shipped</span>
                              <% } else if (order.isCancelled) { %>
                                <span class="badge rounded-pill alert-danger">Cancelled</span>
                                <% } else { %>
                                  <span class="badge rounded-pill alert-dark">Processing</span>
                                  <% } %>
                        </td>
                        <td>
                          <%= order.createdAt.toISOString().split('T')[0] %>
                        </td>
                        <td class="text-end">
                          <div class="dropdown">
                            <a href="/admin/view-single-order/<%= order._id %>" class="btn btn-md rounded font-sm">Detail</a>
                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm">
                              <i class="material-icons md-more_horiz"></i>
                            </a>
                            <div class="dropdown-menu">
                              <a class="dropdown-item" href="#">View detail</a>
                              <a class="dropdown-item" href="/admin/edit-order/<%= order._id %>">Edit info</a>
                              <a class="dropdown-item text-danger" href="javascript:void(0)"
                                onclick="deleteOrder('<%= order._id %>')">Delete</a>
                            </div>
                          </div>
                        </td>
                      </tr>
                      <% }) %>
                  </tbody>
                </table>
              </div> <!-- table-responsive //end -->
            </div> <!-- card-body end// -->
          </div> <!-- card end// -->
        </section>
    </main>