<%- include('header') %>
  <%- include('aside-nav') %>
    <main class="main-wrap">
      <%- include('admin-header') %>
        <section class="content-main">
          <form action="/admin/edit-product/<%= product._id %>" method="POST" enctype="multipart/form-data">
            <div class="row">
              <div class="col-9">
                <div class="content-header">
                  <h2 class="content-title">Edit Product</h2>
                  <div>
                    <button type="submit" class="btn btn-md rounded font-sm hover-up">Publish</button>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="mb-4">
                      <label for="product_name" class="form-label">Product title</label>
                      <input type="text" placeholder="Type here" class="form-control" id="product_name"
                        name="product_name" value="<%= product.name %>">
                    </div>
                    <div class="row gx-3">
                      <div class="row">
                        <div class="col-md-6 mb-3">
                          <label for="product_color" class="form-label">Color</label>
                          <input type="text" placeholder="Type here" class="form-control" id="product_color"
                            name="product_color" value="<%= product.color %>">
                        </div>
                        <div class="col-md-6 mb-3">
                          <label class="form-label d-block">Sizes</label>
                          <div class="d-inline-block me-2">
                            <input type="checkbox" class="form-check-input" name="product_sizes" value="6" <% if
                              (product.sizes.includes('6')) { %> checked <% } %>>
                              <label class="form-check-label">6</label>
                          </div>
                          <div class="d-inline-block me-2">
                            <input type="checkbox" class="form-check-input" name="product_sizes" value="7" <% if
                              (product.sizes.includes('7')) { %> checked <% } %>>
                              <label class="form-check-label">7</label>
                          </div>
                          <div class="d-inline-block me-2">
                            <input type="checkbox" class="form-check-input" name="product_sizes" value="8" <% if
                              (product.sizes.includes('8')) { %> checked <% } %>>
                              <label class="form-check-label">8</label>
                          </div>
                          <div class="d-inline-block">
                            <input type="checkbox" class="form-check-input" name="product_sizes" value="9" <% if
                              (product.sizes.includes('9')) { %> checked <% } %>>
                              <label class="form-check-label">9</label>
                          </div>
                        </div>


                      </div>


                    </div>
                    <div class="mb-4">
                      <label for="product_brand" class="form-label custom-select">Brand</label>
                      <select class="form-control" id="product_brand" name="product_brand">
                        <option value="Brand1" <%=product.brand === 'Brand1' ? 'selected' : ''%>>Brand1</option>
                        <option value="Brand2" <%=product.brand === 'Brand2' ? 'selected' : ''%>>Brand2</option>
                        <option value="Brand3" <%=product.brand === 'Brand3' ? 'selected' : ''%>>Brand3</option>
                        <!-- Add more brands as necessary -->
                      </select>
                  </div>
                </div>
                <div class="card mb-4">
                  <div class="card-body">
                    <div>
                      <label class="form-label">Description</label>
                      <textarea placeholder="Type here" class="form-control" rows="4"
                        name="description"><%= product.description %></textarea>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <label class="form-label">Main Image</label>
                  <input class="form-control" type="file" name="mainImage">
                </div>
                <div class="card mb-4">
                  <div class="card-body">
                    <div>
                      <label class="form-label">Images</label>
                      <input class="form-control" type="file" name="image" multiple>
                    </div>
                  </div>
                </div>
                <div class="card mb-4">
                  <div class="card-body">
                    <label class="form-label">Existing Images</label>
                    <div class="selected-images-container">
                      <% product.images.forEach((imageUrl, index)=> { %>
                        <div class="selected-image">
                          <label>
                            <input type="checkbox" name="deleteImage<%= index %>" checked>
                            <img src="<%= imageUrl %>" alt="Selected Image">
                          </label>
                        </div>
                        <!-- Add hidden input fields for each existing image -->
                        <input type="hidden" name="existingImages" value="<%= imageUrl %>">
                        <% }) %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="mb-4">
                      <label class="form-label">Price</label>
                      <input type="number" placeholder="Type here" class="form-control" name="price"
                        value="<%= product.price %>">
                    </div>
                    <div class="mb-4">
                      <label class="form-label">Stock</label>
                      <input type="number" placeholder="Type here" class="form-control" name="stock"
                        value="<%= product.stock %>">
                    </div>
                    <div class="mb-4">
                      <label class="form-label">Estimated Profit</label>
                      <input type="number" placeholder="Type here" class="form-control" name="estProfit"
                        value="<%= product.estProfit %>">
                    </div>
                    <hr>
                    <h5 class="mb-3">Categories</h5>
                    <!-- Add logic to select the correct category based on product.category -->
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="product_category" value="Athletic"
                        id="product-cat" <%=product.category==='Athletic' ? 'checked' : '' %>>
                      <label class="form-check-label" for="product-cat"> Athletic </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="product_category" value="Casual"
                        id="product-cat-1" <%=product.category==='Casual' ? 'checked' : '' %>>
                      <label class="form-check-label" for="product-cat-1"> Casual </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="product_category" value="Formal"
                        id="product-cat-2" <%=product.category==='Formal' ? 'checked' : '' %>>
                      <label class="form-check-label" for="product-cat-2"> Formal </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="product_category" value="Boots"
                        id="product-cat-3" <%=product.category==='Boots' ? 'checked' : '' %>>
                      <label class="form-check-label" for="product-cat-3"> Boots </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="product_category" value="Sneakers"
                        id="product-cat-4" <%=product.category==='Sneakers' ? 'checked' : '' %>>
                      <label class="form-check-label" for="product-cat-4"> Sneakers </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="product_category" value="Flats"
                        id="product-cat-5" <%=product.category==='Flats' ? 'checked' : '' %>>
                      <label class="form-check-label" for="product-cat-5"> Flats </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="product_category" value="High Heels"
                        id="product-cat-8" <%=product.category==='High Heels' ? 'checked' : '' %>>
                      <label class="form-check-label" for="product-cat-8"> High Heels </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </section>
    </main>
    <%- include('footer') %>