<%- include('user-header-links') %>
  <div class="container d-flex align-items-center" style="height: 100vh;">
    <div class="row justify-content-center w-100">
      <div class="col-md-6" style="max-width: 100%;">
        <form action="/update-address/<%= address._id %>" method="post" class="add-address-form">
          <div class="form-group col-md-12">
            <label>Full Name <span class="required">*</span></label>
            <input class="form-control square capitalize" name="name" type="text" value="<%= address.name %>">
          </div>
          <div class="form-group col-md-12">
            <label>Email <span class="required">*</span></label>
            <input class="form-control square" name="email" type="email" value="<%= address.email %>">
          </div>
          <div class="form-group col-md-12">
            <label>Phone Number <span class="required">*</span></label>
            <input class="form-control square" name="phoneNo" type="text" value="<%= address.phoneNo %>">
          </div>
          <div class="form-group col-md-12">
            <label>Company Name</label>
            <input class="form-control square capitalize" name="companyName" type="text"
              value="<%= address.companyName %>">
          </div>
          <div class="form-group col-md-12">
            <label>Address <span class="required">*</span></label>
            <input class="form-control square capitalize" name="address" type="text" value="<%= address.address %>">
          </div>
          <div class="form-group col-md-12">
            <label>Address Line 1</label>
            <input class="form-control square capitalize" name="addressLine1" type="text"
              value="<%= address.addressLine1 %>">
          </div>
          <div class="form-group col-md-12">
            <label>City / Town <span class="required">*</span></label>
            <input class="form-control square capitalize" name="city" type="text" value="<%= address.city %>">
          </div>
          <div class="form-group col-md-12">
            <label>State <span class="required">*</span></label>
            <input class="form-control square capitalize" name="state" type="text" value="<%= address.state %>">
          </div>
          <div class="form-group col-md-12">
            <label>Postal Code / Zip <span class="required">*</span></label>
            <input class="form-control square capitalize number-arrow-hide" name="postalCode" type="number"
              value="<%= address.postalCode %>">
          </div>
          <div class="col-md-12">
            <button type="submit" class="btn btn-fill-out submit">Update Address</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('footer') %>