<%- include('partials/user-header') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/home" rel="nofollow">Home</a>
                    <span></span> Shop
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row flex-row-reverse">
                    <div class="col-lg-9">
                        <div class="shop-product-fillter">
                            <div class="totall-product">
                                <p> We found <strong class="text-brand">
                                        <%= productCount %>
                                    </strong> items for you!</p>
                            </div>
                            <div class="sort-by-product-area">
                                <div class="sort-by-cover mr-10">
                                    <div class="sort-by-dropdown">
                                    </div>
                                </div>
                                <div class="sort-by-cover">
                                    <div class="sort-by-product-wrap">
                                        <div class="sort-by">
                                            <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                        </div>
                                        <div class="sort-by-dropdown-wrap">
                                            <span> <%= sortBy %> <i class="fi-rs-angle-small-down"></i></span>
                                        </div>
                                    </div>
                                    <div class="sort-by-dropdown">
                                        <ul>
                                            <li><a class="<%= sortBy === 'Featured' ? 'active' : '' %>"
                                                    href="?sortBy=Featured">Featured</a></li>
                                            <li><a class="<%= sortBy === 'Best Sellers' ? 'active' : '' %>"
                                                    href="?sortBy=Best+Sellers">Best Sellers</a></li>
                                            <li><a class="<%= sortBy === 'Price: Low to High' ? 'active' : '' %>"
                                                    href="?sortBy=Price%3A+Low+to+High">Price: Low to High</a></li>
                                            <li><a class="<%= sortBy === 'Price: High to Low' ? 'active' : '' %>"
                                                    href="?sortBy=Price%3A+High+to+Low">Price: High to Low</a></li>
                                            <li><a class="<%= sortBy === 'Top Discounts' ? 'active' : '' %>"
                                                    href="?sortBy=Top+Discounts">Top Discounts</a></li>
                                            <li><a class="<%= sortBy === 'Latest Arrivals' ? 'active' : '' %>"
                                                    href="?sortBy=Latest+Arrivals">Latest Arrivals</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row product-grid-3">
                            <% products.forEach(product=> { %>
                                <div class="col-lg-4 col-md-4 col-12 col-sm-6">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <% if(product.discountPercentage> 0) { %>
                                                    <button
                                                        class="product-offer-btn btn btn-sm btn-primary position-absolute top-0 end-0">
                                                        <%= product.discountPercentage %>%
                                                            OFF
                                                    </button>
                                                    <% } %>
                                                        <a href="/product/view-single-product/<%= product._id %>">
                                                            <img class="default-img" src="<%= product.mainImage %>"
                                                                alt="<%= product.name %>"> </a>
                                            </div>
                                            <div class="product-action-1">
                                                <a aria-label="Full View" class="action-btn hover-up"
                                                    href="/product/view-single-product/<%= product._id %>">
                                                    <i class="fi-rs-eye"></i>
                                                </a>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                    href="javascript:void(0);" onclick="addToWishlist(this);"
                                                    data-product-id="<%= product._id %>">
                                                    <i class="fi-rs-heart"></i>
                                                </a>

                                                </a>
                                                <a aria-label="Add To Cart"
                                                    onclick="addToCart(this, '<%= product.sizes[0] %>')"
                                                    class="action-btn hover-up addToCartButton"
                                                    href="javascript:void(0);" data-product-id="<%= product._id %>">
                                                    <i class="fi-rs-shopping-bag-add"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <a href="/product/view-full-products">
                                                    <%= product.category.name %>
                                                </a>
                                            </div>
                                            <div class="product-brand capitalize">
                                                <a href="/product/view-full-products">
                                                    <%= product.brand.name %>
                                                </a>
                                            </div>
                                            <h2><a href="/product/view-single-product/<%= product._id %>"
                                                    class="uppercase">
                                                    <%= product.name.slice(0,56) %>...
                                                </a></h2>
                                            <div class="product-price">
                                                <% if(product.priceAfterDiscount !==product.price) { %>
                                                    <span>₹<%= product.priceAfterDiscount %> </span>
                                                    <span class="product-old-price-text">₹<%= product.price %></span>
                                                    <% } else { %>
                                                        <span>₹<%= product.price %></span>
                                                        <% } %>
                                            </div>
                                            <div class="product-action-1 show">
                                                <a aria-label="Add To Cart"
                                                    onclick="addToCart(this, '<%= product.sizes[0] %>')"
                                                    class="action-btn hover-up addToCartButton"
                                                    href="javascript:void(0);" data-product-id="<%= product._id %>">
                                                    <i class="fi-rs-shopping-bag-add"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>
                        <!--pagination-->
                        <div class="pagination-area mt-15 pb-20 mb-sm-5 mb-lg-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start">
                                    <% for (let i=1; i <=pages; i++) { %>
                                        <li class="page-item <%= current == i ? 'active' : '' %>"><a class="page-link"
                                                href="/product/view-full-products?page=<%= i %>">
                                                <%= i %>
                                            </a></li>
                                        <% } %>
                                            <% if(current < pages) { %>
                                                <li class="page-item"><a class="page-link"
                                                        href="/product/view-full-products?page=<%= current + 1 %>"><i
                                                            class="fi-rs-angle-double-small-right"></i></a></li>
                                                <% } %>
                                </ul>
                            </nav>
                        </div>

                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                                <li><a href="/product/view-full-products">All</a></li>
                                <% categories.forEach(category=> { %>
                                    <li><a href="/product/filter-products/category/<%= category._id %>"
                                            class="capitalize">
                                            <%= category.name %>
                                        </a></li>
                                    <% }); %>
                            </ul>

                        </div>
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Brand</h5>
                            <ul class="categories">
                                <li><a href="/product/view-full-products">All</a></li>
                                <% brands.forEach(brand=> { %>
                                    <li><a href="/product/filter-products/brand/<%= brand._id %>" class="capitalize">
                                            <%= brand.name %>
                                        </a></li>
                                    <% }); %>
                            </ul>

                        </div>
                        <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">New products</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <% latestProducts.forEach(product=> { %>
                                <div class="single-post clearfix">
                                    <div class="image">
                                        <img src="<%= product.mainImage %>" alt="<%= product.name %>">
                                    </div>
                                    <div class="content pt-10">
                                        <h5><a href="/product/view-single-product/<%= product._id %>">
                                                <%= product.name.slice(0,56) %>...
                                            </a></h5>
                                        <p class="price mb-0 mt-5">₹<%= product.price %>
                                        </p>
                                        <div class="product-brand">
                                            <p>
                                                <%= product.brand.name %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <% }); %>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('partials/user-footer') %>
        <%- include('../partials/preloader') %>
            <script defer src="/static/js/user/cart.js"></script>
            <script defer src="/static/js/user/wishlist.js"></script>

            </body>

            </html>