<%- include('./partials/return-reason') %>
<div class="container mt-5">
  <div class="order-header">
    <div>
      <h4>Order ID: #<%= order.shortId %>
      </h4>
      <p>Order date: <%= new Date(order.createdAt).toLocaleDateString() %>
      </p>
    </div>
    <div>
      <div class="mb-2 d-flex justify-content-end">
        <a href="/order/view-single-order/<%= order._id %>" class="btn"
          style="margin-right: 10px; background-color: #383e50; color: #fff; font-size: 15px; padding: 10px 20px">Go
          Back</a>
      </div>
      <p>Delivered Date:
        <span style="color: #00563B; margin-left: 5px;">
          <%= order.deliveryDate.toLocaleString('en-US', { year: 'numeric' , month: 'long' , day: 'numeric' }) %>
        </span>
      </p>
    </div>
  </div>

  <table class="table table-bordered mt-5">
    <thead>
      <tr>
        <th>Product</th>
        <th>Details</th>
        <th>Price</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <% order.products.forEach(product=> { %>
        <tr>
          <td>
            <img src="<%= product.mainImg %>" alt="Shoe Image" class="product-image">
            <%= product.name.length> 50 ? product.name.substring(0, 50) + "..." : product.name %>

          </td>
          <td>
            Size : <%= product.size %> | Brand : <%= product.brand %>
          </td>
          <td>
            ₹<%= product.price %>
          </td>
          <td>
            <%= product.quantity %>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>


  <div class="return-card">
    <div class="card">
      <div class="card-header" style="background-color: #c4c9d9;">
        Return Reason
      </div>
      <div class="card-body">
        <form action="/order/return-reason" class="return-reason-form" method="post">
          <div class="form-group mb-3">
            <label for="reason">Reason for Return</label>
            <select class="form-select" id="reason" name="reason">
              <option value="" disabled selected>Select reason</option>
              <option value="size">Size not fitting</option>
              <option value="damaged">Damaged product</option>
              <option value="color">Color mismatch</option>
            </select>
          </div>

          <div class="form-group">
            <label for="additional-info">Additional Message</label>
            <textarea class="form-control" id="additional-info" rows="4" name="additionalInfo"></textarea>
          </div>
          <input type="hidden" name="orderId" value="<%= order._id %>">

          <button type="submit" class="btn text-white mt-3"
            style="background-color: #383e50; font-size: 15px;">Submit</button>
        </form>
      </div>
    </div>
  </div>

</div>
</div>
</body>

</html>